*{
    margin: 0;
    box-sizing: border-box;
}

.nav{
    background-color: slateblue;
}
.nav__container{
    display: flex;
    width: 90%;
    height: 70px;
    margin: 0 auto;
    align-items: center;
    gap: 1em;
    max-width: 1200;
    color: #fff;
}

.nav__link{
    text-decoration: none;
    color: #fff;
}

.nav__link:first-of-type{
    margin-left: auto;
}

.hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 90%;
    padding: 60px 0;
    gap: 2em;
    max-width: 1200px;
}
.hero__image{
    width: 100%;
    display: block;
    max-width: 400px;
    margin: 0 auto;
}
.hero__texts{
    display: flex;
    flex-direction: column;
    gap: 1em;
    text-align: center;
}

.hero__title{
    font-size: 2.5em;
}

.hero__cta{
background-color: slateblue;
color: #fff;
text-decoration: none;
padding: 1em 3em;
border-radius: 2em;
align-self: center;
}

@media (min-width: 768px) {
    .hero{
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    }

    .hero__picture{
        order:1;
        width: 50%;
    }

    .hero__image{
        max-width: none;
    }
    .hero__texts{
        width: 45%;
        text-align: left;
    }
    .hero__cta{
        align-self: flex-start;
    }
}